.toDoList {
  width: 500px;
  margin: 0 auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.list-group {
  background: #16F;
  padding-bottom: 20px
}

.padding {
  padding-bottom: 0;
}

.disabled {
  pointer-events: none;
  opacity: 0.9;
}

@media screen and (max-width: 620px) {
  .toDoList {
    margin-left: 60px;
  }
}

@media screen and (max-width: 586px) {
  .toDoList {
    width: 400px;
  }
}

@media screen and (max-width: 488px) {
  .toDoList {
    width: 292px;
  }
}
