<div class="form">
    <div class="title">
      <h1>To Do List</h1>
      <h5>Enter task</h5>
    </div>
    <div class="wrap_input">
      <input type="text" *ngIf="!isStatePreloader" #title (keyup.enter)="create(title.value); title.value = ''" class="input" autofocus>
      <div class="preloader" *ngIf="isStatePreloader"><h4>Loading to server</h4><img
        src="../../../../../../assets/img/30.gif" alt=""></div>
    </div>
</div>
<!--модальное окно-->
<app-message
  [@messageTrigger]="'show'"
  *ngIf="statusMessage"
  [message]="message"
  (statusMessage)="onStatusMessage($event)"
></app-message>
