.wrap {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  background: #16F;
}

.wrap_buttons {
  display: flex;
  margin-right: 140px;
  width: 170px;
  justify-content: space-between;
}

.cover {
  color: #fafafa;
}

.All,
.Active,
.Completed {
  cursor: pointer;
  border-radius: 3px;
  padding: 1px;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}

@media screen and (max-width: 586px) {
  .wrap_buttons {
    margin-right: 100px;
  }
}
@media screen and (max-width: 488px) {
  .wrap_buttons {
    margin-right: 5px;
  }
}
