li {
    padding-bottom: 2px;
}

li.list-group-item {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

li.list-group-item {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

ul {
  margin-top: -25px;
  margin-left: 50px;
}

ul li {
  display: inline;
  font-size: 15px;
  margin-right: 5px;
  border-radius: 3px;
  cursor: pointer;
}

.disabled {
  pointer-events: none;
  opacity: 0.6;
}
