<div class="wrap">
  <div class="cover">{{ counter }} items</div>
  <div [ngClass]="{'disabled': disabled}" class="wrap_buttons">
    <div class="All" (click)="onFilterChange(FilterValues.All); all()"
        [ngStyle]="{'border': stateAll ? '1px solid #01C' : '', 'color': stateAll ? '#fafafa' : ''}">All
    </div>
    <div class="Active" (click)="onFilterChange(FilterValues.Active); active()"
        [ngStyle]="{'border': stateActive ? '1px solid #01C' : '', 'color': stateActive ? '#fafafa' : ''}">Active</div>
    <div class="Completed" (click)="onFilterChange(FilterValues.Completed); completed()"
        [ngStyle]="{'border': stateCompleted ? '1px solid #01C' : '', 'color': stateCompleted ? '#fafafa' : ''}">Completed</div>
  </div>
</div>
