<li [ngClass]="{'disabled': disabled}" class="list-group-item" (mouseover)="showButtonDelete()"
    (mouseout)="hideButtonDelete()">
  <div class="wrap">
    <div class="check">
        <i (click)="onChange(); hideButtonDelete()" class="icons material-icons" *ngIf="!taskItem.isDone">
          check_circle_outline</i>
        <i (click)="onChange(); hideButtonDelete()" class="icons material-icons" *ngIf="taskItem.isDone">check_circle
        </i>
        <input type="checkbox" id="clast" [checked]="taskItem.isDone" class="input_check">
      <div class="text" (dblclick)="changeTitle()" *ngIf="isStateTitle">{{ taskItem.title }}</div>
    </div>
    <div class="change_title" *ngIf="!isStateTitle">
      <input type="text" class="input_change__title" #title (keyup.enter)="saveTitle(title.value); hideButtonDelete()"
             value="{{ taskItem.title }}">
    </div>
    <div class="wrap_delete__img" *ngIf="!isStatePreloader">
      <i class="delete material-icons"
         (click)="delete(); hideButtonDelete()"
         [ngStyle]="{'display': hover ? 'inline' : 'none'}"
      >
        delete_forever
      </i>
    </div>
    <div class="loading" *ngIf="isStatePreloader">
      <img class="delete" src="../../../../../../assets/img/loading.gif">
    </div>
  </div>
</li>
<!--Модальное окно-->
<app-message
  [@messageTrigger]="'show'"
  *ngIf="statusMessage"
  [message]="message"
  (statusMessage)="onStatusMessage($event)"
></app-message>
