.span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  bottom: 46px;
}
.red {
  background-color: red;
  left: 185px;
}
.blue {
  background-color: dodgerblue;
  left: 155px;
}
.green {
  background-color: lawngreen;
  left: 125px;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("../../assets/img/developer.png") no-repeat;
  background-size: cover;
  z-index: -1;
}
h2 {
  margin-top: 0;
  padding-top: .8em;
}

nav {
  z-index: 1;
  position: fixed;
  perspective: 600px;
  background-color: #4d91ff;
  box-shadow: 0 0 5px rgb(0, 0, 1);
  width: 100%;
  -webkit-transition: .4s ease-out;
  -o-transition: .4s ease-out;
  -moz-transition: .4s ease-out;
  -moz-transition-delay: 0.5s;
  transition: .4s ease-out;

}

.cool > li > a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  padding: 5px 20px;
  display: inline-block;
  margin: 5px 17px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.cool > li {
  position: relative;
  display:flex;
  justify-content: center;
}

.dropdown {
  opacity: 0;
  display: none;
  position: absolute;
  overflow: hidden;
  top:-50px;
  border-radius:2px;
  transform: translateY(100px);
  will-change: opacity;
  padding:20px;
}

.trigger-enter .dropdown {
  display: block;
  padding: 20px;
}

.trigger-enter-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  display: none;
  width:100px;
  height:100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  transition:all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  box-shadow: 0 0 30px rgba(0,0,0,1);
  justify-content: center;
  opacity:0;
}

.dropdownBackground.open {
  display: flex;
  opacity: 1;
}

.arrow {
  position: absolute;
  width:20px;
  height:20px;
  display: block;
  background:white;
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width:500px;
  display:flex;
  justify-content: center;
  align-items: center;
  line-height: 1.7;
}

.bio img {
  margin-top: -222px;
  float:left;
  margin-right:20px;
  width: 100px;
  height: 100px;
  border-radius: 4px;
}

.courses {
  min-width:300px;
}

.courses li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown a {
  text-decoration: none;
  color: white;
}

a.button {
  background: #ffbf00;
  display: none;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
}

.trigger-enter-active a.button, .trigger-enter a.button{
  display: block;
}

a.button:hover {
  opacity: 0.6;
}

.button[href*=twitter] { background: #019FE9; }
.button[href*=facebook] { background: #3B5998; }
.button[href*=linkedin] { background: #4d91ff; }

.wrap {
  display: block;
  width: 100%;
  z-index: 5;
  padding-left: 21%;
}

.wrap .block {
  display: flex;
  width: 800px;
  justify-content: space-between;
}

.wrap .wrap_block {
  position: relative;
  width: 334px;
  padding-left: 17px;
}

.wrap__block_item {
  background-color: white;
  margin: 100px 0 0;
  display: block;
  text-align: center;
  width: 300px;
  height: 300px;
  border: 10px solid black;
  vertical-align: bottom;
  padding-right: 0;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  opacity: 0.9;
}

h4 {
  opacity: 0.9;
  text-align: center;
  cursor: pointer;
  color: black;
  border-top: 20px solid black;
  width: 334px;
  margin-left: -17px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  font-weight: bold;
}

a:hover {
  color: tomato;
}

.wrap.active {
 display: none;
}

.wrap img {
  width: 280px;
  margin: 0;
  padding: 0;
}

.wrap img.photo,
.wrap img.list,
.wrap img.map,
.wrap img.canvas {
   padding-top: 30px;
 }

@media screen and (max-width: 1125px) {
  .wrap {
    padding-left: 15%;
  }
}

@media screen and (max-width: 970px) {
  .wrap {
    padding-left: 10%;
  }
}

@media screen and (max-width: 900px) {
  .wrap {
    padding-left: 6%;
  }
}

@media screen and (max-width: 875px) {
  .block {
    flex-direction: column;
  }

  .wrap {
    padding-left: 33%;
  }
}

@media screen and (max-width: 845px) {
  .cool > li:first-child {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .wrap {
    padding-left: 25%;
  }

  .wrap .block {
    width: 740px;
  }
}

@media screen and (max-width: 500px) {
  .wrap {
    padding-left: 13%;
  }

  .wrap .block,
  .wrap .wrap_block {
    width: 290px;
  }

}

@media screen and (max-width: 400px) {
  .wrap {
    padding-left: 15%;
  }

  .wrap__block_item {
    width: 250px;
    height: 250px;
  }

  .wrap img {
    width: 220px;
  }

  h4 {
    width: 286px;
  }

  .red {
    left: 165px;
  }
  .blue {
    left: 135px;
  }
  .green {
    left: 105px;
  }

}


