.wrap {;
  display: flex;
  width: 800px;
  margin: 0 auto;
  z-index: 5;
}

.wrap .wrap_block {
  display: flex;
}

.wrap.active {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 200px;
  margin-right: 30px;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -ms-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
}

.wrap.active .material-icons {
  font-size: 50px;
}

.material-icons {
  font-size: 200px;
  cursor: pointer;
}

.camera_alt {
  color: #6e6e6e;
}

.gradient {
  color: tomato;
}

.directions_boat {
  color: #4d91ff;
}

.list_alt {
  color: indianred;
}

@media screen and (max-width: 880px) {
  .wrap .wrap_block {
    flex-direction: column;
  }
  .wrap .wrap_block:first-child {
    margin-left: 15%;
  }
  .wrap.active .wrap_block {
    flex-direction: row;
  }
}

@media screen and (max-width: 580px) {
  .wrap .wrap_block:first-child {
    margin-left: 5%;
  }
  .material-icons {
    font-size: 150px;
  }
}
