.inside {
  background-color: #fafafa;
}

.inside .content {
  padding: 70px 10% 50px;
}
.content_header {
  text-align: center;
}
.content_header img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-bottom: 35px;
}
.content_header p {
  letter-spacing: 3px;
}
.content_body {
  margin-top: 35px;
  font-size: 16px;
}
.ul_contacts,
.ul_contacts li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.form_contacts {
  margin-top: 50px;
  padding: 0;
}
.ul_contacts {
  padding-top: 15px;
}
.ul_contacts li {
  margin-bottom: 40px;
}
.ul_contacts i {
  font-size: 28px;
  margin-right: 5px;
  vertical-align: middle;
}
.ul_contacts h3 {
  margin-bottom: 5px;
  font-size: 20px;
}
.content_body a {
  color: tomato;
  text-decoration: underline;
}

.form_contacts form {
  background-color: #181818;
  color: #fff;
  padding: 30px;
}
.callback h3 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  font-weight: normal;
}
.form_contacts label {
  color: #5b5b5b;
  font-size: 13px;
  letter-spacing: 3px;
  width: 100%;
  margin-bottom: 15px;
}
.form_contacts input {
  display: block;
  width: 100%;
}
.form_contacts input,
.form_contacts textarea {
  background-color: #2e2e2e;
  border: 1px solid #484848;
  color: #fff;
  display: block;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
  max-width: 100%;
  font-size: 15px;
}
.button {
  background-color: tomato;
  border: medium none;
  display: block;
  line-height: 42px;
  margin: 15px auto 10px;
  padding: 0 20px;
}

span.invalid {
  color: #ff3c38;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 2px;
}

@media screen and (max-width: 550px) {
  .inside {
    margin-left: 30px;
  }
}
