.title {
  text-align: center;
  color: tomato;
  letter-spacing: 4px;
}

.title h5 {
  margin-bottom: -20px;
}

.wrap {
  padding-bottom: 74px;
}

@media screen and (max-width: 470px) {
  h1 {
    font-size: 25px;
  }

  h5 {
    font-size: 15px
  }
}
