<nav class="top" #nav @fade>
  <div class="dropdownBackground" #background>
    <span class="arrow"></span>
  </div>

  <ul class="cool">
    <li
      #block1
      (mouseenter)="handleEnter(block1, background, dropdown1, nav)"
      (mouseleave)="handleLeave(block1, background)"
    >
      <a routerLink="/about-me">About Me</a>
      <div class="dropdown dropdown1" #dropdown1>
        <div class="bio">
          <img src="../../../assets/img/foto.jpg">
          <p >I have high education.
            I'm attracted to everything that is connected with logic. In the IT industry it must be actively used. This is one
            of the main reasons why I like programming. I studied such technologies as HTML 5, CSS, JS, JQuery, Angular 5,
            object-oriented programming TypeScript and version control system Git. In English I can read technical
            documentation. Experience is very important to me, so I'm willing to work hard and improve my skills every day.
            Quite a quick study and adaptation. I will be happy for your suggestions, calls and invitations to become a part of
            your team.</p>
        </div>
      </div>
    </li>
    <li
      #block2
      (mouseenter)="handleEnter(block2, background, dropdown2, nav)"
      (mouseleave)="handleLeave(block2, background)"
    >
      <a routerLink="/about-me">Other Links</a>
      <ul class="dropdown dropdown2" #dropdown2>
        <li><a class="button" href="https://twitter.com/ADolozhevskij" target="_blank">Twitter</a></li>
        <li><a class="button" href="https://www.facebook.com/andrei.dolozhevskij" target="_blank">Facebook</a></li>
        <li><a class="button" href="https://www.linkedin.com/in/andrei-dolozhevskij-46aa87158/" target="_blank">Linkedin</a></li>
        <li><a class="button" href="https://project-andrei-d.firebaseapp.com" target="_blank">Link to Firebase</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div class="wrap" @fade>
  <div class="photo" >
    <img
      src="../../../assets/img/foto.jpg"
      alt="Андрей Доложевский">
  </div>
  <div class="about_me">
    <h1>Andrei Dolozhevskij</h1>
    <p>Junior Frontend Developer</p>
    I have high education.
    I'm attracted to everything that is connected with logic. In the IT industry it must be actively used. This is one
    of the main reasons why I like programming. I studied such technologies as HTML 5, CSS, JS, JQuery, Angular 5,
    object-oriented programming TypeScript and version control system Git. In English I can read technical
    documentation. Experience is very important to me, so I'm willing to work hard and improve my skills every day.
    Quite a quick study and adaptation. I will be happy for your suggestions, calls and invitations to become a part of
    your team.
  </div>
</div>

