<div class="wrap" @fade>
  <div class="photo" >
    <img
      src="../../../assets/img/foto.jpg"
      alt="Андрей Доложевский">
  </div>
  <div class="about_me">
    <h1>Andrei Dolozhevskij</h1>
    <p>Junior Frontend Developer</p>
    I have high education.
    I'm attracted to everything that is connected with logic. In the IT industry it must be actively used. This is one
    of the main reasons why I like programming. I studied such technologies as HTML 5, CSS, JS, JQuery, Angular 5,
    object-oriented programming TypeScript and version control system Git. In English I can read technical
    documentation. Experience is very important to me, so I'm willing to work hard and improve my skills every day.
    Quite a quick study and adaptation. I will be happy for your suggestions, calls and invitations to become a part of
    your team.
  </div>
</div>

